@tailwind base;
@tailwind components;
@tailwind utilities;

/* base  */
@font-face {
  font-family: "iranSans-bold";
  src: url("./assets/font/IRANSansXFaNum-Bold.woff2");
}
@font-face {
  font-family: "iranSans-regular";
  src: url("./assets/font/IRANSansXFaNum-Regular.woff2");
}
@font-face {
  font-family: "iranSans-demiBold";
  src: url("./assets/font/IRANSansXFaNum-DemiBold.woff2");
}
@font-face {
  font-family: "iranSans-medium";
  src: url("./assets/font/IRANSansXFaNum-Medium.woff2");
}

html {
  scroll-behavior: smooth;
  font-family: "iranSans-regular";
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"] {
    --active: #009b87;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #009b87;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition:
      background 0.3s,
      border-color 0.3s,
      box-shadow 0.2s;
    &:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition:
        transform var(--d-t, 0.3s) var(--d-t-e, ease),
        opacity var(--d-o, 0.2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: 0.3s;
      --d-t: 0.6s;
      --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type="checkbox"] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: 0.6;
          }
        }
      }
    }
  }
  input[type="radio"] {
    border-radius: 50%;
    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7));
    }
    &:checked {
      --s: 0.5;
    }
  }
}

::-webkit-inner-spin-button {
  display: none;
}

/* navbar */
#navToggle {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  background: none;
}
#navToggle::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 6px;
  width: 20px;
  height: 2px;
  background: #777e90;
  border-radius: 2px;
  transition: transform 0.2s;
  transform: translateY(-4px);
}
#navToggle::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 6px;
  width: 20px;
  height: 2px;
  background: #777e90;
  border-radius: 2px;
  transition: transform 0.2s;
  transform: translateY(3px);
}
#navToggle.activeNavToggle::before {
  transform: translateY(0) rotate(-45deg);
}
#navToggle.activeNavToggle::after {
  transform: translateY(0) rotate(45deg);
}
#navSide {
  height: calc(100dvh - 56px);
}

/* slider */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.arzSlider .swiper-slide-active {
  filter: grayscale(0) !important;
  padding-bottom: 10px;
}

.arzSlider .swiper-slide {
  filter: grayscale(100);
}

/* animation */
#scroll_line {
  animation: arrowDown ease-out 1.4s infinite;
}
.loader-market {
  scale: 0.8;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  font-size: 4px;
  text-indent: -9999em;
  animation: loaderMarket 1.1s infinite ease;
}

/* keyframes */
@keyframes arrowDown {
  80% {
    transform: translateY(23px);
  }
  100% {
    transform: translateY(23px);
  }
}

@keyframes loaderMarket {
  0%,
  100% {
    box-shadow:
      0em -2.6em 0em 0em #777e90,
      1.8em -1.8em 0 0em rgba(119, 126, 144, 0.2),
      2.5em 0em 0 0em rgba(119, 126, 144, 0.2),
      1.75em 1.75em 0 0em rgba(119, 126, 144, 0.2),
      0em 2.5em 0 0em rgba(119, 126, 144, 0.2),
      -1.8em 1.8em 0 0em rgba(119, 126, 144, 0.2),
      -2.6em 0em 0 0em rgba(119, 126, 144, 0.5),
      -1.8em -1.8em 0 0em rgba(119, 126, 144, 0.7);
  }
  12.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(119, 126, 144, 0.7),
      1.8em -1.8em 0 0em #777e90,
      2.5em 0em 0 0em rgba(119, 126, 144, 0.2),
      1.75em 1.75em 0 0em rgba(119, 126, 144, 0.2),
      0em 2.5em 0 0em rgba(119, 126, 144, 0.2),
      -1.8em 1.8em 0 0em rgba(119, 126, 144, 0.2),
      -2.6em 0em 0 0em rgba(119, 126, 144, 0.2),
      -1.8em -1.8em 0 0em rgba(119, 126, 144, 0.5);
  }
  25% {
    box-shadow:
      0em -2.6em 0em 0em rgba(119, 126, 144, 0.5),
      1.8em -1.8em 0 0em rgba(119, 126, 144, 0.7),
      2.5em 0em 0 0em #777e90,
      1.75em 1.75em 0 0em rgba(119, 126, 144, 0.2),
      0em 2.5em 0 0em rgba(119, 126, 144, 0.2),
      -1.8em 1.8em 0 0em rgba(119, 126, 144, 0.2),
      -2.6em 0em 0 0em rgba(119, 126, 144, 0.2),
      -1.8em -1.8em 0 0em rgba(119, 126, 144, 0.2);
  }
  37.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(119, 126, 144, 0.2),
      1.8em -1.8em 0 0em rgba(119, 126, 144, 0.5),
      2.5em 0em 0 0em rgba(119, 126, 144, 0.7),
      1.75em 1.75em 0 0em #777e90,
      0em 2.5em 0 0em rgba(119, 126, 144, 0.2),
      -1.8em 1.8em 0 0em rgba(119, 126, 144, 0.2),
      -2.6em 0em 0 0em rgba(119, 126, 144, 0.2),
      -1.8em -1.8em 0 0em rgba(119, 126, 144, 0.2);
  }
  50% {
    box-shadow:
      0em -2.6em 0em 0em rgba(119, 126, 144, 0.2),
      1.8em -1.8em 0 0em rgba(119, 126, 144, 0.2),
      2.5em 0em 0 0em rgba(119, 126, 144, 0.5),
      1.75em 1.75em 0 0em rgba(119, 126, 144, 0.7),
      0em 2.5em 0 0em #777e90,
      -1.8em 1.8em 0 0em rgba(119, 126, 144, 0.2),
      -2.6em 0em 0 0em rgba(119, 126, 144, 0.2),
      -1.8em -1.8em 0 0em rgba(119, 126, 144, 0.2);
  }
  62.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(119, 126, 144, 0.2),
      1.8em -1.8em 0 0em rgba(119, 126, 144, 0.2),
      2.5em 0em 0 0em rgba(119, 126, 144, 0.2),
      1.75em 1.75em 0 0em rgba(119, 126, 144, 0.5),
      0em 2.5em 0 0em rgba(119, 126, 144, 0.7),
      -1.8em 1.8em 0 0em #777e90,
      -2.6em 0em 0 0em rgba(119, 126, 144, 0.2),
      -1.8em -1.8em 0 0em rgba(119, 126, 144, 0.2);
  }
  75% {
    box-shadow:
      0em -2.6em 0em 0em rgba(119, 126, 144, 0.2),
      1.8em -1.8em 0 0em rgba(119, 126, 144, 0.2),
      2.5em 0em 0 0em rgba(119, 126, 144, 0.2),
      1.75em 1.75em 0 0em rgba(119, 126, 144, 0.2),
      0em 2.5em 0 0em rgba(119, 126, 144, 0.5),
      -1.8em 1.8em 0 0em rgba(119, 126, 144, 0.7),
      -2.6em 0em 0 0em #777e90,
      -1.8em -1.8em 0 0em rgba(119, 126, 144, 0.2);
  }
  87.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(119, 126, 144, 0.2),
      1.8em -1.8em 0 0em rgba(119, 126, 144, 0.2),
      2.5em 0em 0 0em rgba(119, 126, 144, 0.2),
      1.75em 1.75em 0 0em rgba(119, 126, 144, 0.2),
      0em 2.5em 0 0em rgba(119, 126, 144, 0.2),
      -1.8em 1.8em 0 0em rgba(119, 126, 144, 0.5),
      -2.6em 0em 0 0em rgba(119, 126, 144, 0.7),
      -1.8em -1.8em 0 0em #777e90;
  }
}

:root {
  --bg: #fff;
  --text-color: #000;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --bg: #141416;
  --text-color: #fff;
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
}

@media screen and (min-width: 1024px) {
  #marketHero {
    height: calc(80dvh - 56px) !important;
    padding-top: 150px !important;
  }
}

@media screen and (min-width: 1280px) {
  #marketHero {
    height: calc(90dvh - 56px) !important;
    padding-top: 150px !important;
  }
}
